.flex-container {
  display: flex;

  border: 4px;
  border-color: black;
  border-style: solid;

  flex-wrap: wrap;
  width: 600px;
  height: 400px;
}
.flex__child {
  height: 100px;
  text-align: center;
  line-height: 200px;
  border: 2px;
  width: 116px;
  height: 197px;
  border-color: green;
  border-style: solid;
}
@media (max-width: 650px) {
  .flex-container {
    display: flex;

    border: 4px;
    border-color: black;
    border-style: solid;

    flex-wrap: wrap;
    width: 498px;
    height: 415px;
  }
  .flex__child {
    height: 100px;
    text-align: center;
    line-height: 95px;
    border: 2px;
    width: 162px;
    height: 100px;
    border-color: green;
    border-style: solid;
  }
}

@media (max-width: 500px) {
  .flex-container {
    display: flex;

    border: 4px;
    border-color: black;
    border-style: solid;

    width: 400px;
    height: 540px;

    flex-direction: column;
  }
  .flex__child {
    height: 100px;
    text-align: center;
    line-height: 50px;
    border: 2px;
    width: 396px;
    height: 50px;
    border-color: green;
    border-style: solid;
  }
}
