.flex-container {
  display: flex;

  border: 4px;
  border-color: black;
  border-style: solid;

  flex-wrap: wrap;
  width: 796px;
  height: 363px;
}
.flex__child {
  height: 100px;
  text-align: center;
  line-height: 115px;
  border: 2px;
  width: 156px;
  height: 117px;
  border-color: green;
  border-style: solid;
}
