body {
  background-color: #ff8585;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 175px);
  border: 2px;
  border-style: solid;
  border-color: black;
  align-content: flex-start;
  row-gap: 20px;
  width: 525px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 75px;
  line-height: 75px;
}
