body {
  background-color: #ff8585;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 175px);
  border: 2px;
  border-style: solid;
  border-color: black;
  align-content: flex-start;
  gap: 20px;
  width: 685px;
  height: 475px;
  grid-template-areas: ". myAreaC .  " "myArea myAreaC ." " myArea . .";
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 75px;
  line-height: 75px;
}
.grid-item1 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 300px;
  line-height: 300px;
  width: 125px;
  grid-row: 2/3;
  grid-area: myArea;
}
.grid-item3 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 75px;
  line-height: 75px;
  width: 255px;
}
.grid-itemG {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 160px;
  line-height: 165px;
  width: 255px;
}
.grid-itemC {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 215px;
  line-height: 215px;
  grid-area: myAreaC;
}
.grid-itemP {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 75px;
  line-height: 75px;
  width: 255px;
}
.grid-itemF {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 162px;
  line-height: 162px;
}
