body {
  background-color: #ff8585;
}

.grid-container {
  display: grid;
  grid-template-columns: 75px 75px 75px 150px;
  grid-template-rows: 30px 30px 125px 75px 75px 75px 75px 75px;
  gap: 5px;
  border: 2px;
  border-style: solid;
  border-color: black;
  align-content: flex-start;
  width: 825px;
  height: 600px;
}
.grid-item0 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 0px;
  grid-row: 1;
  grid-column: 1 / span 2;
}
.grid-item1 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 20px;
  grid-row: 1 / span 2;
  grid-column: 3;
}
.grid-item2 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 0px;
  grid-row: 1;
  grid-column: 4;
  width: 545px;
}
.grid-item3 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 250px;
  grid-row: 2 / span 4;
  grid-column: 1 / span 2;
}
.grid-item4 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 0px;
  grid-row: 2;
  grid-column: 4;
  width: 545px;
}
.grid-item5 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  grid-row: 3;
  grid-column: 3;
}
.grid-item6 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 75px;
  grid-row: 3;
  grid-column: 4;
  width: 545px;
}
.grid-item7 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 115px;
  height: 115px;
  grid-row: 4;
  grid-column: 3 / span 4;
}
.grid-item8 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 200px;
  line-height: 200px;
  grid-row: 6 / span 7;
  grid-column: 1;
}
