.flex-container {
  display: flex;

  border: 4px;
  border-color: black;
  border-style: solid;

  flex-wrap: wrap;
  width: 600px;
  height: 400px;
}
.flex__child {
  height: 100px;
  text-align: center;
  line-height: 200px;
  border: 2px;
  width: 116px;
  height: 197px;
  border-color: green;
  border-style: solid;
}
