@media only screen and (max-width: 2000px) {
  div {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: red;
  }
}

@media only screen and (max-width: 1300px) {
  div {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background: yellow;
  }
}

@media only screen and (max-width: 900px) {
  div {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background: green;
  }
}

@media only screen and (max-width: 500px) {
  div {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 10%;
    height: 20%;
    background: blue;
  }
}
