body {
  background-color: #ff8585;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 35px);
  grid-template-rows: 70px 70px;
  gap: 20px;
  border: 2px;
  border-style: solid;
  border-color: black;
  align-content: flex-start;
  width: 650px;
  height: 520px;
  align-content: center;
  column-gap: 125px;
  row-gap: 50px;
  justify-content: center;
}
.grid-item0 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  padding: 0px;
  grid-row: 1;
  grid-column: 1;
}
.grid-item1 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  padding: 0px;
  grid-row: 1;
  grid-column: 2;
}
.grid-item2 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  padding: 0px;
  grid-row: 1;
  grid-column: 3;
}
.grid-item3 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  padding: 0px;
  grid-row: 1;
  grid-column: 4;
}
.grid-item4 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  padding: 0px;
  grid-row: 2;
  grid-column: 1;
}
.grid-item5 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  padding: 0px;
  grid-row: 2;
  grid-column: 2;
}
.grid-item6 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  padding: 0px;
  grid-row: 2;
  grid-column: 3;
}
.grid-item7 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  padding: 0px;
  grid-row: 2;
  grid-column: 4;
}
