body {
  background-color: #ff8585;
}

.grid-container {
  display: grid;
  grid-template-columns: 400px 400px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 70px;
}
