.flex-container {
  display: flex;

  border: 4px;
  border-color: black;
  border-style: solid;

  flex-wrap: wrap;
  width: 800px;
  height: 400px;
}
.flex__child {
  height: 100px;
  text-align: center;
  line-height: 400px;
  border: 2px;
  width: 196px;
  height: 397px;
  border-color: green;
  border-style: solid;
}
