ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 188, 112);
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
  border: 2px;
  border-style: solid;
  border-color: #e60013;
}

li a:hover:not(.active) {
  background-color: #e60013;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: rgb(249, 165, 70);
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media (max-width: 1200px) {
  .column {
    flex: 50%;
    max-width: 30%;
  }
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 33%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 40%;
  }
}

/*onderkant pagina*/
footer {
  position: fixed;
  bottom: 0px;
  left: 0%;
  width: 100%;
  text-align: center;
  background-color: rgb(252, 63, 63);
  color: white;
}
